/*--------------------------General----------------------------*/
/* #region  */
* {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nova {
  font-family: "nova square", sans-serif;
}
.abs {
  position: absolute;
}
.rel {
  position: relative;
}
.sizing-container {
  width: 80%;
  margin: 0 auto;
}
.firebrick {
  color: firebrick;
}
/* #endregion */
/*---------------------------Header----------------------------*/
/* #region  */
header {
  background-color: #2a2a2a;
  height: 60px;
  margin-bottom: 5%;
}
.header-content {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-content .brand {
  font-weight: bolder;
  font-size: 50px;
}
.header-content .brand {
  font-family: "Nova Square", cursive;
  font-size: 20px;
  font-weight: bold;
  color: white;
}
nav {
  position: relative;
  height: 100%;
  width: 400px;
}
#pre-sign {
  position: absolute;
}
#post-sign {
  opacity: 0;
  visibility: hidden;
}
nav ul {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100%;
  width: 100%;
}
nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: auto;
  margin: 0 5%;
}
nav ul li a {
  color: white;
  padding: 15% 0;
  transition: all 0.2s;
}
nav ul li a:hover {
  color: firebrick;
}
#logged-cart {
  position: relative;
  height: 100%;
}
#logged-cart .mini-cart {
  position: absolute;
  top: 100%;
  max-height: 500px;
  overflow: auto;
  width: 300%;
  text-align: center;
  background-color: white;
  border: 2px solid black;
  border-top: none;
  transform: scale(1, 0);
  transform-origin: top;
  transition: 0.2s;
  z-index: 5;
}

#logged-cart .mini-cart-item {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}
#badge {
  width: 37px;
  padding: 2px 0;
  background-color: firebrick;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
}

#search {
  width: 100%;
  margin-top: 1.5%;
  padding: 1%;
  font-size: 15px;
  border: 2px solid black;

  opacity: 0;
  visibility: hidden;
}
#search:focus {
  outline: none;
}

#logged-cart .mini-cart-item:hover {
  background-color: whitesmoke;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  cursor: pointer;
}

#logged-cart:hover .mini-cart {
  transform: scale(1, 1);
}
/* #endregion */
/*----------------------Login & Signup Form--------------------*/
/* #region  */
.alerts {
  height: 100px;
}
.alert {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: red;
  opacity: 0;
  transition: all 0.4s;
}
.login-form {
  height: 250px;
}
.register-form {
  height: 340px;
}
.form-content {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  min-width: 30%;
  height: auto;
  padding: 20px;
  background-color: #232323;
  border-radius: 20px;
  text-align: center;
}
.form-content h2 {
  font-weight: bolder;
  color: white;
  font-size: 35px;
  margin-bottom: 30px;
  cursor: default;
}

.form-content input[type="text"],
.form-content input[type="password"],
.form-content input[type="email"] {
  position: relative;
  display: block;
  width: 60%;
  height: 30px;
  margin: auto;
  margin-bottom: 15px;
  padding-left: 25px;
  outline: none;
  border: 1px solid #b8b8b8b1;
  border-bottom: 2px solid blue;
}
.form-content input[type="submit"] {
  width: 150px;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  margin: 5px 0 10px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s;
}
.form-to {
  color: white;
  text-align: left;
}
.form-to a {
  margin: 0 10px;
  color: rgb(89, 89, 255);
}

/*-----------------Login & Signup Form Effects-----------------*/
.form-content input:invalid {
  border-bottom: 2px solid red;
}
.form-content input[type="submit"]:hover {
  transform: scale(1.1);
}
/* #endregion */
/*----------------------Main Page Products---------------------*/
/* #region  */
.product-content {
  text-align: center;
  width: 100%;
}
.product-item {
  position: relative;
  display: inline-block;
  width: 22%;
  height: 30%;
  margin: 1%;
  padding: 2%;
  background-color: rgba(0, 0, 0, 0.125);
  cursor: pointer;
}
.product-item-img {
  margin-bottom: 5px;
  width: 100%;
  transition: all 0.2s;
  z-index: 2;
}
.product-item-title,
.product-item-price {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 4% 0;
}
.product-action {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  z-index: 4;
}
.product-action-icon {
  padding: 5%;
  background-color: #2a2a2a;
  color: white;
  transition: all 0.2s;
  /*Attributes for the button only*/
  border: none;
  cursor: pointer;
}
.create-product {
  width: 50px;
  height: 50px;
  background-color: gainsboro;
  border: 2px solid;
  border-radius: 25px;
  position: fixed;
  right: 5%;
  top: 85%;
  cursor: pointer;
  transition: all 0.2s;
}
.create-product i {
  font-size: 17px;
  transition: all 0.2s;
}
/*--------------------Main Page Products Effects--------------------*/
.product-item::after {
  content: "";
  background-color: black;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  transition: all 0.2s;
  z-index: -1;
}
.product-item:hover::after {
  opacity: 0.4;
}
.product-item:hover .product-action {
  opacity: 1;
  visibility: visible;
}
.product-item:hover > .product-item-img {
  transform: scale(1.03);
}
.product-action-icon:hover {
  padding: 7%;
}
.create-product:hover {
  background-color: whitesmoke;
}
.create-product:hover i {
  color: firebrick;
  font-size: 25px;
}
/* #endregion */
/*------------------------Cart Page----------------------------*/
/* #region  */
.cart-frame {
  width: 100%;
  height: auto;
  padding: 20px;
  margin-bottom: 5%;
  border: 2px solid;
  position: relative;
}
.cart-item {
  position: relative;
  background-color: gainsboro;
  height: auto;
  padding: 1%;
  margin: 1% 0;
}
.cart-item img {
  width: 10%;
  vertical-align: middle;
  cursor: pointer;
}
.cart-item h4,
.cart-item h5 {
  position: absolute;
  left: 14%;
}
.cart-item h4 {
  top: 20%;
}
.cart-item h5 {
  top: 40%;
}
.cart-item-actions {
  position: absolute;
  bottom: 0%;
  right: 0%;
  width: 84px;
}
.cart-item-actions button {
  position: absolute;
  width: 40px;
  height: 25px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.378);
  cursor: pointer;
  line-height: 25px;
  transform: translate(0, -100%);
}
.remove-from-cart {
  left: 0%;
}
.save-for-later {
  right: 0;
}
/*-----------------Cart Page Effects-----------------*/
.cart-item:hover {
  outline: 2px solid;
}
/* #endregion */
/*-------------------Product Details Page----------------------*/
/* #region  */
#product-details {
  display: flex;
}
#product-details img {
  width: 50%;
  height: 100%;
  margin-right: 2%;
  outline: 2px solid;
  padding: 1%;
}
.product-text * {
  background-color: antiquewhite;
  padding: 5px;
}
.product-text h2 {
  font-size: 40px;
}
.product-text p {
  margin: 2% 0;
}
/* #endregion */
/*---------------------Side Bar Favorites----------------------*/
/* #region  */
#side-bar {
  height: 65%;
  width: 7%;
  background-color: gainsboro;
  position: fixed;
  top: 20%;
  overflow-x: auto;
  border: 3px solid;
}

.side-product-frame img {
  width: 60%;
  text-align: center;
  display: block;
  margin: 5% auto;
  transition: all 0.5;
}
.side-product-frame img:hover {
  transform: scale(1.05);
}
/* #endregion */
/*-----------------------Product Creation----------------------*/
/* #region  */
#creation-form .image-uploader {
  display: flex;
  align-items: center;
}
#creation-form .image-preview {
  width: 200px;
  height: 300px;
  background-color: gainsboro;
  padding: 15px;
}
.image-preview img {
  width: 100%;
}

#creation-form .inp {
  display: block;
  width: 100%;
  padding: 1%;
  margin: 1% 0;
  font-size: 16px;
}
#creation-form .created-submit {
  width: 10%;
  padding: 1%;
  display: block;
  margin: 0 auto;
  background-color: whitesmoke;
  border: 2px solid black;
  cursor: pointer;
}
/*------------------Product Creation Effects-------------------*/
#creation-form .created-submit:hover {
  background-color: gainsboro;
  color: firebrick;
}
#creation-form .inp:focus {
  outline: 2px solid firebrick;
}
/* #endregion */
